.body {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
}
.img {
  max-width: 100%;
  height: auto;
}
.homea{
	background-color: lightgreen;
	border-radius: 2%;
}
.homea p {
	margin-left:20%;
}
.homea h1 {
	margin-left:10%;
}