.navbar{
  background-color:black;
  display:flex;
  justify-content:space-around;
}
.navbar a{
  padding:1%;
  color:white;
  text-decoration:none;
}
.navbar a:hover{
  background-color:grey;
  color:black;
}